

.container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*define width*/
   grid-auto-rows: 200px; /*define height*/
   grid-auto-flow: dense;
   grid-gap: 5px;
   
}

.big{
  grid-column: span 2;
  grid-row: span 2;
}
.vertical{
  grid-row: span 2;
}

.horizontal{
  grid-column: span 2;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




  /*
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 50px);

   grid-template:repeat(2, 50px) / repeat(3, 1fr);
   */

   /*
   grid-column-start: 1;
   grid-column-end: 3;

   grid-column: 1/3;

   grid-column: 1/-1; targets the last column line

   grid-column: 1/span 2; starts at column line 1 and spans 2 columns

   grid-column: auto/span 2; or grid-column: span 2;
   */
 

   /* GRID-AREA
   grid-template-areas: 
   "header header header"
   "menu content"
   "footer ."; blanks


    .header{
        grid-area: header;  
    }


   */

   /*AUTO-FIT AND MINMAX
    grid-template-columns: repeat(auto-fit, 100px); tries to fit a new 100px column depending on the width of the container
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr); same but stretches columns before 100px is available

    IMPLICIT ROWS
    grid-auto-rows: 100px; eliminates the necessity of grid-template-rows since all rows will be 100px high;
   */

    /*
    grid-auto-flow: dense; fills in blank spaces.
    */
